../build/
../build1/
../build2/
build/
build1/
build2/
.build/

prj23-grib/Proc_GribYoga/CSV_Data/
prj23-grib-ble/Proc_GribYoga/CSV_Data/
prj23-grib-wifi/Proc_GribYoga/CSV_Data/
krri-16x20x3-alpha/Proc_KRRI_Footstep/CSV_Data/
krri-16x20x2-alpha/Proc_KRRI_Footstep/CSV_Data/
prj24-ezgeo/Proc_Ezgeo_18x5/Save_CSV/

prj23-grib/Proc_GribYoga/ScreenShot/
prj23-grib-ble/Proc_GribYoga/ScreenShot/
prj23-grib-wifi/Proc_GribYoga/ScreenShot/
krri-16x20x3-alpha/Proc_KRRI_Footstep/ScreenShot/
krri-16x20x2-alpha/Proc_KRRI_Footstep/ScreenShot/
prj24-ezgeo/Proc_Ezgeo_18x5/Save_ScreenShot/

Luxtep-17x28-a/Proc_matrix_17x28/

# file extentions
*.o 
*.cfg
*.svd
*.x
*.inox
*.class
*.java
prj23-grib-ble/Proc_GribYoga/res/logo_Yoga - 복사본.png
prj23-grib-ble/Proc_GribYoga/res/logo_Yoga.png
prj24-ezgeo/prj24-ezgeo_V.a00.rar
prj24-ezgeo/prj24-ezgeo_V.b01_HWProved.rar
prj24-ezgeo/Proc_Ezgeo_18x5/Proc_KRRI_Footstep_231128_release.rar
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_B.csv
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_C - 복사본.csv
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_C.csv
