../build/
../build1/
../build2/
build/
build1/
build2/
.build/

prj23-grib/Proc_GribYoga/CSV_Data/
prj23-grib-ble/Proc_GribYoga/CSV_Data/
prj23-grib-wifi/Proc_GribYoga/CSV_Data/
krri-16x20x3-alpha/Proc_KRRI_Footstep/CSV_Data/
krri-16x20x2-alpha/Proc_KRRI_Footstep/CSV_Data/
prj24-ezgeo/Proc_Ezgeo_18x5/Save_CSV/
prj24-luxtep-MAT/Proc_Luxtep/Save_CSV/

prj23-grib/Proc_GribYoga/ScreenShot/
prj23-grib-ble/Proc_GribYoga/ScreenShot/
prj23-grib-wifi/Proc_GribYoga/ScreenShot/
krri-16x20x3-alpha/Proc_KRRI_Footstep/ScreenShot/
krri-16x20x2-alpha/Proc_KRRI_Footstep/ScreenShot/
prj24-ezgeo/Proc_Ezgeo_18x5/Save_ScreenShot/
prj24-luxtep-MAT/Proc_Luxtep/Save_ScreenShot/
prj24-luxtep-MAT/Proc_Luxtep/windows-amd64/

Luxtep-17x28-a/Proc_matrix_17x28/
prj24-brandContents-Luxtep/
prj24-luxtep-MAT/
prj24-luxtep-MAT_V2/espidf_ex/
prj24-luxtep-MAT_V2/Fw_Luxtep_02/_backup, bin/

prj25-espidf-examples/_폐기/

# file extentions
*.o 
*.cfg
*.svd
*.x
*.inox
*.class
*.java
prj23-grib-ble/Proc_GribYoga/res/logo_Yoga - 복사본.png
prj23-grib-ble/Proc_GribYoga/res/logo_Yoga.png
prj24-ezgeo/prj24-ezgeo_V.a00.rar
prj24-ezgeo/prj24-ezgeo_V.b01_HWProved.rar
prj24-ezgeo/Proc_Ezgeo_18x5/Proc_KRRI_Footstep_231128_release.rar
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_B.csv
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_C - 복사본.csv
prj24-ezgeo/Proc_Ezgeo_18x5/res/CellPos_Block_C.csv
prj24-luxtep-MAT_V2/250320-101007-espidf-peripherals-uart - 바로 가기.lnk
prj24-luxtep-MAT/Luxtep_CES_FW_01/Luxtep_CES_FW_01_d01_noiseClear.zip
prj24-luxtep-MAT/Luxtep_CES_FW_01/Luxtep_CES_FW_01_d02_release.zip
prj24-luxtep-MAT/Luxtep_CES_FW_01/Luxtep_CES_FW_01_d03_btnSync,OSDErr.zip
prj24-luxtep-MAT/Luxtep_CES_FW_01/Luxtep_CES_FW_01_d03_btnSyncErr.zip
prj24-luxtep-MAT/Luxtep_CES_FW_01/zzz_old_lib_ledworks_15x15.h_
prj24-luxtep-MAT_V2/pio_Luxtep_02a/pio_Luxtep_02a_a01_empty.zip
